@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContetAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - P_Micro_Banking</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  
        <!-- VENDOR CSS -->
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/lib/coreui/icons/css/coreui-icons.min.css" rel="stylesheet" />
        <link href="~/lib/flag-icon-css/css/flag-icon.css" rel="stylesheet" />
        <link href="~/lib/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" />
        <!-- MAIN CSS -->
        <link href="~/lib/coreui/css/style.min.css" rel="stylesheet" />
        <link href="~/css/toastr.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/css/datatables.min.css" rel="stylesheet" />
    <style>
        #AuzUriDiv{
            display:none;
        }
        .modals {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1000; /* Sit on top */
            padding-top: 65px; /* Location of the box */
            *left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }




        /* Modal Content */
        .modal-contents {
            background-color: #fefefe;
            margin: auto;
            padding: 5px;
            right: 0;
            border: 1px solid #888;
            width: 70%;
            height: 90%;
            overflow: auto;
        }

        /* The Close Button */
        .closes {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

            .closes:hover,
            .closes:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }

        .modal-header {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: start;
            align-items: flex-start;
            -ms-flex-pack: justify;
            justify-content: space-between;
            padding: 2px;
            border-bottom: 1px solid #dee2e6;
            border-top-left-radius: calc(0.3rem - 1px);
            border-top-right-radius: calc(0.3rem - 1px);
        }
    </style>

    @RenderSection("Headers", required: false)

    <!-- ICONS -->
    <link rel="icon" type="image/x-icon" sizes="96x96" href="/favicon.ico">
</head>

<!-- BODY -->
<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">

    @*<partial name="_CookieConsentPartial" />*@

    <!-- NAVBAR -->
    <partial name="_NavBar" />
    <!-- END NAVBAR -->

    <div class="app-body">

        <!-- LEFT SIDEBAR -->
        @if (1 == 1)
        {
            var roleid = HttpContetAccessor.HttpContext.Session.GetString("_RoleId");
            @await Component.InvokeAsync("Menu", new { roleId = roleid })
        }
        <!-- END LEFT SIDEBAR -->
        <!-- MAIN CONTENT -->

        <main class="main">

            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
                <li class="breadcrumb-item active">Dashboard</li>
                <!-- Breadcrumb Menu-->
                <li class="breadcrumb-menu d-md-down-none">
                    <div class="btn-group" role="group" aria-label="Button group">
                        <a class="btn" href="#">
                            <i class="icon-speech"></i>
                        </a>
                        <a class="btn" href="./">
                            <i class="icon-graph"></i>  Dashboard
                        </a>
                        <!--  <a class="btn" href="#">
                            <i class="icon-settings"></i>  Settings
                        </a>-->
                    </div>
                </li>
            </ol>

            @RenderBody()
        </main>
        <!-- END MAIN CONTENT -->
        <!-- ASIDE MENU -->
        <!--  <partial name="_AsideMenu" />-->
        <!-- END ASIDE MENU -->

    </div>
    <div id="loadingDiv" class="loadingDiv">
        <div class="loadingWhite">
            <div class="loadings">
                &#8230;
            </div>
            <div class="contentLoading"></div>
        </div>
    </div>
    <div class="loading">
        Loading&#8230;
    </div>

    <div id="myModal" class="modals ">
        <!-- Modal content -->
        <div class="modal-contents">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <span class="closes">&times;</span>
            </div>
            <div class="modal-body">

            </div>
        </div>
    </div>
    <footer class="app-footer">
        <div>
            <a href="#">PegsSoft</a>
            <span>&copy; 2022 PegsSoftLabs.</span>
        </div>
        <div class="ml-auto">
            <input id="user" style="visibility:hidden" value="@HttpContetAccessor.HttpContext.Session.GetString("_Email")" />
            <span>Powered by</span>
            <a href="#">PegsSoft</a>
        </div>
    </footer>



    <!-- <environment include="Development">
         <script src="~/lib/jquery/dist/jquery.js"></script>
         <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
         <!-- CoreUI and necessary plugins-->
    <!--  <script src="~/lib/pace-progress/js/pace.min.js"></script>

      @*<script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.js"></script>*@
      <!--  <script src="~/lib/coreui/dist/js/coreui.js"></script>
    <!-- Plugins and scripts required by this view-->
    @*<script src="~/lib/chart.js/dist/Chart.js"></script>
        <script src="~/lib/coreui/js/custom-tooltips.js"></script>
        <script src="~/lib/coreui/js/main.js"></script>*@
    <!-- <script src="~/js/toastr.js"></script>
        <!--  <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>-->
    <!-- <environment exclude="Development">-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- CoreUI and necessary plugins-->
    @*<script src="~/lib/pace-progress/pace.min.js"></script>*@
    <!-- <script src="https://js.paystack.co/v1/inline.js"></script>-->
    <script src="~/lib/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/lib/coreui/dist/js/coreui.min.js"></script>
    <!-- Plugins and scripts required by this view-->
    @*<script src="~/lib/chart.js/dist/Chart.min.js"></script>
        <script src="~/lib/coreui/js/custom-tooltips.js"></script>
        <script src="~/lib/coreui/js/main.js"></script>*@
    <script src="~/js/toastr.js"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <!--</environment>-->
    <script src="~/js/datatables.min.js"></script>
    <script>
        var username = document.getElementById("user").value;
        if (username == "") {
            window.location.href = '@Url.Action("login","Account")';
        }
    </script>
    <script>
    /**   var paymentForm = document.getElementById('paymentForm');
        paymentForm.addEventListener('submit', payWithPaystack, false);
        function payWithPaystack() {
            var handler = PaystackPop.setup({
                key: 'pk_test_e78b1f43f338dafe4beb356048319305d73995f3', // Replace with your public key
                email: document.getElementById('email-address').value,
                amount: document.getElementById('amount').value * 100, // the amount value is multiplied by 100 to convert to the lowest currency unit
                currency: 'NGN', // Use GHS for Ghana Cedis or USD for US Dollars
                callback: function (response) {
                    //this happens after the payment is completed successfully
                    var reference = response.reference;
                    alert('Payment complete! Reference: ' + reference);
                    // Make an AJAX call to your server with the reference to verify the transaction
                },
                onClose: function () {
                    alert('Transaction was not completed, window closed.');
                },
            });
            handler.openIframe();

            //prevent default post event
        }**/


       

       

    function displayBusyIndicatoroo() {
           //$('.loadingDiv').show();
        var modals = document.getElementById("loading")
            modals.style.display = "block";
        }
        function displayBusyIndicatorstopoo() {
            //$('.loadingDiv').hide();
            var modals = document.getElementById("loading")
            modals.style.display = "none";
        }

        function displayBusyIndicator() {
            $('.loading').show();
        }
        function displayBusyIndicatorstop() {
            $('.loading').hide();

        }

        //get BankName from database
       

     


        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                data: data,
                dataType: 'json',
                type: type ? type : 'GET',
                contentType: "application/json; charset=utf-8"
            });
        }

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": false,
            "progressBar": false,
            "rtl": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": 300,
            "hideDuration": 1000,
            "timeOut": 5000,
            "extendedTimeOut": 1000,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        }

        

    </script>


    @RenderSection("Scripts", required: false)


</body>
</html>
