@model P_Micro_Banking.Models.Report.TransOfficer
@{
    ViewData["Title"] = "Transaction Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 10px;
        margin-right: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
        color: #808080;
    }

    .displayNames {
        margin-left: 90px;
        margin-top: 7px;
    }

    .displayN {
        width: 300px;
        height: 40px;
        background-color: #eeeef2
    }

    .names {
        padding: 10px 13px 10px 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 15px;
    }
</style>

<div class="container">
    <div class="row col-lg-12 float-left mt-3 mb-3">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i>Search
                </div>
                <div class="card-body">
                    <div class="row" style="margin:5px;">
                        <form asp-controller="Report" asp-action="TransReportOfficer" method="post">
                            <div class="input-group">
                                <select required  class="form-control rounded"  name="Selection" aria-label="Search"
                                        aria-describedby="search-addon" style="width: 100px;">
                                    <option selected value="1">All</option>
                                    <option value="2">Time Interval</option>
                                </select>  &nbsp;&nbsp;
                                <select required  class="form-control rounded" id="RelationshipOfficer"  name="officer" aria-label="Search"
                                        aria-describedby="search-addon" style="width: 200px;">
                                    
                                </select>  &nbsp;&nbsp;
                                <input required type="date" class="form-control rounded" placeholder="Search" name="StartDate" aria-label="Search"
                                       aria-describedby="search-addon" style="width: 200px;" /> &nbsp;&nbsp;
                                <input required type="date" class="form-control rounded" placeholder="Search" name="EndDate" aria-label="Search"
                                       aria-describedby="search-addon" style="width: 200px;" />
                                &nbsp;&nbsp;
                                <input style="width: 100px;" class="btn btn-outline-success" type="submit" value="Search" />
                            </div>

                        </form>
                    </div>


                </div>
            </div>

        </div>
    </div>
</div>


<div class="container" style="width:1200px;">
    <div class="row col-lg-12 float-left mt-3 mb-3">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Savings Balance
                </div>
                <div class="card-body">
                    <div>
                        <div class="row mt-5">
                            <table id="DepositeAccount" class="table table-responsive-sm table-bordered table-striped table-sm" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Account Nunber</th>
                                        <th>AccountHolderName</th>
                                        <th>AccountName</th>
                                        <th>Savings Balance</th>


                                    </tr>
                                </thead>
                                <tbody id="TableBody">

                                    @foreach (var item in Model.deposite.ToList())
                                    {
                                    <tr>
                                        <td>@item.AccountNumber</td>
                                        <td>@item.AccountHolderName</td>
                                        <td>@item.AccountName</td>
                                        <td>@item.Balance</td>

                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="font-weight:bold">@Model.TotalSavingsBal</td>

</tfoot>
                            </table>

                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container" style="width:1200px;">
    <div class="row col-lg-12 float-left mt-3 mb-3">
        <div class="col-lg-12">

            <div class="card">
                <div class="card-header">
                    <i class="fa fa-edit"></i> Loan Balance
                </div>
                <div class="card-body">
                    <div>
                        <div class="row mt-5">
                            <table id="DepositeAccount" class="table table-responsive-sm table-bordered table-striped table-sm" cellpadding="0" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Account Nunber</th>
                                        <th>AccountHolderName</th>
                                        <th>AccountName</th>
                                        <th>Loan Balance</th>

                                    </tr>
                                </thead>
                                <tbody id="TableBody">

                                    @foreach (var item in Model.loans.ToList())
                                    {
                                    <tr>
                                        <td>@item.AccountNumber</td>
                                        <td>@item.AccountHolderName</td>
                                        <td>@item.AccountName</td>
                                        <td>@item.Balance</td>

                                    </tr>
                                    }
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td style="font-weight:bold">@Model.TotalLoanBal</td>

</tfoot>
                            </table>

                        </div>
                        <div class="row">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        $(function () {
            AjaxCall('/Customer/GetRelationshipOfficer', null).done(function (res) {
                //   console.log(response);
                //  var res = JSON.parse(response);
                if (res.length > 0) {
                    $('#RelationshipOfficer').html('');

                    var options = '';
                    options += '<option value="Select">Select</option>';

                    for (var i = 0; i < res.length; i++) {
                        // console.log(res[i].DataCode);
                        options += '<option value="' + res[i].code + '">' + res[i].item + '</option>';
                    }
                    $('#RelationshipOfficer').append(options);

                }
            }).fail(function (error) {
                alert(error.StatusText);
            });
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


